/* SETUP */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  font-size: 16px;
  --primary-color: #ff6188;
  --secondary-color: #78dde8;
  --dark-color: #2e2a2e;
  --light-color: #ffffff;
  --green-color: rgb(168, 220, 118);
  --purple-color: #ac9cf2;
  --green-transparent: rgba(168, 220, 118, 0.2);
  --primary-transparent: rgba(255, 97, 136, 0.2);
  --secondary-transparent: rgba(120, 221, 232, 0.2);
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.125rem;
}

::-webkit-scrollbar-track {
  background: var(--dark-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* THEMES */
.light {
  --light-primary: #2e2a2e;
  --dark-primary: #ffffff;
  --dark-secondary: #f7f7f7;
  --light-secondary: #201f1f;
  --transparent: rgba(0, 0, 0, 0.2);
}

.dark {
  --light-primary: #ffffff;
  --dark-primary: #2e2a2e;
  --dark-secondary: #201f1f;
  --light-secondary: #f0f0f0;
  --transparent: rgba(255, 255, 255, 0.2);
}

body {
  color: var(--light-primary);
  background-color: var(--dark-primary);
  overflow-x: hidden;
  min-height: 100vh;
}

/* GENERAL */

main {
  min-height: 100vh;
}

section,
article {
  padding: 2.5rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-paragraph,
.home-quiz button,
.blog-post-content p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.section-paragraph,
.blog-post-content p {
  text-align: justify;
  line-height: 1.5;
  width: 100%;
  max-width: 40rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  color: var(--primary-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-bottom: 1rem;
}

.section-subtitle {
  font-size: 1.5rem;
  text-align: center;
  color: var(--secondary-color);
}

.section-title-hr {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  width: 75%;
  text-align: center;
}

.section-highlight {
  color: var(--secondary-color);
  font-weight: 700;
}

button,
input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

.button {
  background: var(--secondary-color);
  color: var(--dark-color);
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}

.button-icon {
  font-size: 1.3rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

/* NAVBAR */

.sidebar {
  position: fixed;
  background-color: var(--dark-secondary);
  z-index: 1000;
  height: 100vh;
  transition: all 0.5s ease;
  padding: 0.375rem 0.875rem;
  width: 5rem;
  border-right: 1px solid var(--light-primary);
  border-top: none;
}

.sidebar.active {
  width: 15rem;
}

.sidebar.sidebar-open {
  width: 15rem;
}

.sidebar-logo {
  height: 3.75rem;
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  height: 3.125rem;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .sidebar-logo {
  opacity: 1;
  pointer-events: none;
}

.sidebar-logo-icon {
  font-size: 1.75rem;
  margin-right: 0.3125rem;
  color: var(--primary-color);
}

.sidebar-logo-name {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--primary-color);
  text-decoration: double;
}
#navMenuButton {
  position: absolute;
  left: 50%;
  top: 0.375rem;
  font-size: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  line-height: 3.15rem;
  transform: translate(-50%);
  cursor: pointer;
}

.sidebar.active #navMenuButton {
  left: 90%;
}

.navbar-nav {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
}

.nav-item {
  list-style: none;
  width: 100%;
  height: 3.125rem;
  position: relative;
  line-height: 3.125rem;
  background: var(--dark-primary);
  border-radius: 0.75rem;
  margin: 0.5rem 0;
}

.nav-link {
  color: var(--light-primary);
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 0.75rem;
  white-space: nowrap;
}

.nav-link.important-nav {
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.tooltip-right {
  font-size: 1rem;
  position: absolute;
  text-align: center;
  height: 2.1875rem;
  line-height: 2.1875rem;
  width: 7.5rem;
  left: 7.5rem;
  border-radius: 0.375rem;
  top: 0;
  transform: translate(-40%, -50%);
  background: var(--light-primary);
  box-shadow: 0 0 0.625rem var(--light-secondary);
  color: var(--dark-primary);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active .tooltip-right {
  display: none;
}

.nav-item:hover .tooltip-right,
.home-social-icon:hover .tooltip-right {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.home-social-icon .tooltip-right {
  font-size: 0.75rem;
  transform: translate(-40%, -60%);
  width: 6rem;
  left: 5rem;
}

.nav-link:hover {
  background: var(--light-primary);
  color: var(--dark-primary);
}

.nav-link-text {
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .nav-link-text {
  opacity: 1;
  pointer-events: auto;
}

.nav-icon {
  height: 3.125rem;
  min-width: 3.125rem;
  border-radius: 0.75rem;
  line-height: 3.125rem !important;
  text-align: center;
}

.nav-theme {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;

  margin-right: 0;
  margin-bottom: 0.5rem;
  transition: all 0.5s ease;
}

.nav-theme button {
  outline: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.sidebar.active .nav-theme {
  width: 13.1875rem;
}

/* FOOTER */

footer {
  margin-left: 5rem;
  height: 5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-secondary);
}

footer h4 {
  font-size: 1rem;
  color: var(--light-primary);
}

.footer-social {
  display: flex;
  width: fit-content;
}

.footer-social-link {
  font-size: 1rem;
  color: var(--light-primary);
  margin: 0 0.25rem;
}

/* 404 PAGE */

section.error-page {
  background-color: var(--primary-color);
  color: var(--dark-primary);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--dark-color);
}

.error-button:hover {
  background-color: var(--light-color);
}

section.error-page h1 {
  font-size: 4rem;
}

section.error-page p {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

/* HOMEPAGE */

.home-banner {
  background-color: var(--dark-secondary);
  color: var(--light-primary);
  height: 95vh;
  min-height: fit-content;
  display: grid;
  justify-content: center;
}

.home-banner-content {
  display: grid;
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  grid-template-columns: 0.5fr 0.3fr;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.home-social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  z-index: 999;
}

.home-social-icon {
  font-size: 1.5rem;
  color: var(--light-primary);
  position: relative;
  display: inline-block;
  transition: 0.1s;
}

.home-social-icon:hover {
  color: var(--primary-color);
}

.home-blob {
  width: 270px;
  fill: var(--purple-color); /* alternative: var(--dark-primary) */
  -webkit-filter: drop-shadow(0 0.15rem 0.3rem var(--dark-primary));
  filter: drop-shadow(0 0.15rem 0.3rem var(--light-secondary));
}

.home-blob-img {
  width: 230px;
}

.home-banner-data {
  grid-column: 1/3;
}

.home-title {
  font-size: 3.5rem;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: underline;
}

.home-subtitle {
  color: var(--light-primary);
  font-weight: 400;
  margin-bottom: 2rem;
}

.home-quick-links {
  list-style: none;
}

.home-quick-link {
  margin-bottom: 0.5rem;
}

.home-quick-links:last-child {
  margin-bottom: 2rem;
}

.home-quick-link a {
  font-size: 1rem;
}

.home-banner-scroll {
  display: none;
}

.home-banner-scroll-button {
  color: var(--light-primary);
  transition: 0.3s;
  display: flex;
  align-items: center;
}

.home-banner-scroll-button:hover {
  color: var(--light-secondary);
  transform: translateY(0.25rem);
  filter: brightness(0.75);
}

.home-scroll-mouse {
  font-size: 2rem;
}

.home-scroll-name {
  font-size: 1rem;
  margin-right: 0.25rem;
}

.home-scroll-arrow {
  font-size: 1.25rem;
}

.home-quiz {
  display: flex;
  margin: 0.75rem 0.5rem;
  width: 100%;
  max-width: 40rem;
}

.home-quiz-option {
  background-color: var(--transparent);
  width: calc(100% / 3);
  border-radius: 0.5rem;
  border: 2px solid var(--light-primary);
  padding: 0.75rem;
  margin: 0 0.25rem;
  transition: 0.3s;
}

.home-quiz-option:hover {
  transform: scale(1.03);
}

.home-quiz-answer {
  font-size: 1.2rem;
}

.home-quiz-answer,
.home-quiz-description {
  display: none;
}

.home-quote-section {
  padding: 0;
}

.home-wave {
  height: auto;
  width: 100%;
}

.bx-tada:hover {
  -webkit-animation: tada 1.5s ease infinite !important;
  animation: tada 1.5s ease infinite !important;
}

.bx-tada {
  animation: none !important;
  -webkit-animation: none !important;
}

.home-quote-container {
  height: fit-content;
  padding: 1.25rem;
  background-color: var(--primary-color);
  width: 100%;
  color: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-quote {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
  line-height: 1.5;
  font-style: italic;
  width: 100%;
  max-width: 40rem;
}

.home-quote-quotation {
  text-align: left;
  width: 100%;
  max-width: 45rem;
  font-size: 2.5rem;
}

.home-quote-author {
  width: 100%;
  max-width: 40rem;
  text-align: right;
  font-style: normal;
}

.home-quote-author::before {
  content: "\2014\0020";
}

.home-wave-last {
  background: var(--dark-secondary);
}

.home-timeline {
  background: var(--dark-secondary);
  padding-bottom: 0;
}

.home-timeline-timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.home-timeline-timeline::after {
  content: "";
  position: absolute;
  width: 0.25rem;
  background-color: var(--light-primary);
  top: -32px;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  color: var(--dark-primary);
  width: 50%;
}

.timeline-left {
  left: 0;
}

.timeline-left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid var(--light-primary);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--light-primary);
}

.timeline-right {
  left: 50%;
}

.timeline-right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid var(--light-primary);
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--light-primary) transparent transparent;
}

.timeline-container::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  right: -12px;
  background-color: var(--light-primary);
  border: 0.25rem solid var(--primary-color);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-right::after {
  left: -12px;
}

.timeline-content {
  background: var(--light-primary);
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.timeline-content h2 {
  color: var(--primary-color);
}

/* BLOG */
.blog-create-form,
.blog-login-form {
  width: 100%;
}

.blog-login-form input,
.blog-create-form input {
  background-color: var(--dark-secondary);
  border: 1px solid var(--light-primary);
  border-radius: 3px;
  width: 100%;
  font-size: 1.25rem;
  padding: 0.5rem;
  color: var(--light-primary);
  font-weight: 500;
  margin-bottom: 1rem;
}
.blog-login-form button,
.blog-create-form button {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.blog-login-form button:hover,
.blog-create-form button:hover {
  background-color: var(--secondary-color);
  text-decoration: underline;
}

.blog-post h1 hr,
.blog-post h1 {
  margin-bottom: 0.4rem;
}

.blog-post-content {
  width: 100%;
  max-width: 40rem;
  object-fit: contain;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog-post-details {
  text-align: left;
  color: var(--secondary-color);
  width: 100%;
  max-width: 40rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.blog-post-content iframe,
.blog-post-content blockquote {
  width: 100%;
}

.blog-post-content p {
  width: 100%;
}

.blog-post-content a {
  background-color: var(--primary-color);
  padding: 0 0.25rem;
  color: var(--dark-color);
  text-decoration: underline;
}

.blog-post-banner {
  max-height: 55vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 1rem;
  padding: 0;
}

.blog-post-banner img {
  width: 100%;
  height: auto;
}

.blog-post-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.blog-preview-buttons {
  display: flex;
  width: 100%;
}

.blog-preview-back,
.blog-preview-buttons form {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  border: 1px solid var(--light-primary);
  margin: 0.25rem 0.25rem;
  margin-bottom: 2rem;
  color: var(--light-primary);
  font-weight: bold;
}

.blog-preview-back {
  padding: 1rem;
}

.blog-preview-check {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
}

.blog-card {
  color: var(--light-primary);
  display: grid;
  width: 100%;
  max-width: 40rem;
  background-color: var(--dark-secondary);
  margin-bottom: 3rem;
  grid-template-columns: 100%;
  grid-template-rows: 20rem auto auto;

  grid-template-areas: "blog-card-image" "blog-card-text" "blog-card-tags";
  border-radius: 1rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.blog-card-image {
  grid-area: blog-card-image;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-size: cover;
  background-position: center;
}

.blog-card-text {
  grid-area: blog-card-text;
  margin: 3rem 1.5rem;
  margin-bottom: 2rem;
}

.blog-card-details {
  color: var(--transparent);
  font-size: 0.9rem;
}

.blog-card-title {
  color: var(--primary-color);
  margin-top: 0.5rem;
  font-size: 1.9rem;
  margin-bottom: 1.5rem;
}

.blog-card-preview {
  color: var(--light-primary);
  font-weight: 300;
  text-align: justify;
}

.blog-card-tags {
  grid-area: blog-card-tags;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.5rem;
}

.blog-card-tag,
.blog-card-tag::before,
.blog-post-tag,
.blog-post-tag::before {
  font-size: 1rem;
}

.blog-card-tag,
.blog-post-tag {
  background: var(--secondary-transparent);
  padding: 0.5rem;
  margin: 0.5rem;
}

.blog-card-tag::before,
.blog-post-tag::before {
  content: "\0023";
}

/* LARGE SCREENS */
@media screen and (min-width: 900px) {
  main {
    margin: 0;
    margin-left: 5rem;
  }

  .eyes {
    transform: translate(1.5rem, -9.5rem) rotate(5deg);
    text-align: center;
  }

  .home-blob {
    width: 400px;
    transform: translate(0.5rem, 6rem);
    position: relative;
  }

  .eye {
    width: 2rem;
    height: 2rem;
    background: #fff;
    display: inline-block;
    margin: 0.5rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .ball {
    width: 0.125rem;
    height: 0.125rem;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 0.25rem solid #333;
  }
  .home-banner-content {
    grid-template-columns: max-content max-content 1fr;
  }
  .home-banner-data {
    grid-column: initial;
    transform: translateY(4rem);
  }
  .home-img {
    order: 1;
    justify-self: center;
    transition: 0.3s;
    animation: home-img-animation 2s alternate infinite ease-in-out;
  }

  @keyframes home-img-animation {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.04);
    }
  }

  .home-banner {
    row-gap: 5rem;
    margin-left: auto;
    margin-right: auto;
  }

  .home-banner-content {
    column-gap: 2rem;
  }
  .home-banner-scroll {
    display: block;
    transform: translateY(1rem);
  }
  .home-banner-scroll-button {
    margin-left: 3rem;
  }
  .home-social {
    transform: translateX(-2rem);
    transition: 0.3s;
  }
  .home-social-icon:hover {
    transform: scale(1.2);
  }
  .home-quick-links {
    transform: translateY(1.5rem);
  }

  .blog-card:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }
}

/* MEDIUM SCREENS */
@media screen and (max-width: 900px) {
  main {
    margin: 0;
  }

  footer {
    margin: 0;
    margin-bottom: 5rem;
  }

  .sidebar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: 0.0625rem solid var(--light-primary);
    border-right: none;
    transition: none;
  }

  nav {
    width: 100%;
    height: 100%;
  }

  .navbar-nav {
    flex-direction: row;
    margin-top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sidebar-logo-container {
    display: none;
  }

  .nav-theme {
    position: relative;
    transform: none;
    left: auto;
    bottom: auto;
  }

  .tooltip-right {
    display: none;
  }

  .nav-link-text {
    display: none;
  }

  .nav-item {
    width: 60px;
    height: 60px;
    margin: 0 0.75rem;
  }

  .nav-link {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .nav-icon {
    font-size: 1.6rem;
    margin: 0;
  }

  .eyes {
    display: none;
  }

  .home-title {
    font-size: 2.5rem;
  }

  .home-title,
  .home-subtitle,
  .home-quick-link {
    text-align: center;
  }

  .home-banner {
    height: fit-content;
    padding-top: 2.5rem;
  }

  .home-content {
    padding-top: 2.5rem;
  }

  .home-quiz {
    flex-direction: column;
  }

  .home-quiz-option {
    width: 100%;
    margin: 0;
  }

  .home-timeline-timeline::after {
    left: 2rem;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 60px;
    border: medium solid var(--light-primary);
    border-width: 10px 10px 10px 0;
    border-color: transparent var(--light-primary) transparent transparent;
  }

  .timeline-right::after,
  .timeline-left::after {
    left: 1.25rem;
  }

  .timeline-right {
    left: 0%;
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 400px) {
  section {
    padding: 1rem;
  }

  .home-content {
    grid-template-columns: 0.25fr 3fr;
    padding-top: 2.5rem;
  }

  .home-blob {
    width: 180px;
  }

  .home-title {
    font-size: 2rem;
  }

  .home-quick-link a {
    font-size: 0.75rem;
  }

  .button-icon {
    font-size: 1.2rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .sidebar {
    padding: 0;
  }

  .nav-item {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 0;
  }

  .nav-link {
    width: 100%;
    height: 100%;
    border-radius: 0;
    outline: none !important;
  }

  .home-quote {
    font-size: 1.25rem;
  }

  .home-quote-quotation {
    font-size: 1.5rem;
  }

  .home-quote-author {
    font-size: 0.75rem;
  }

  .timeline-content h2 {
    font-size: 1rem;
  }

  .timeline-content p {
    font-size: 0.75rem;
  }

  .blog-post-content p {
    font-size: 0.8rem;
  }

  .blog-post-content img {
    width: 100%;
  }
}
