{% extends 'base.html' %} {% block title %}{{post_title}}{% endblock title %} {%
block main %} {% if preview %}
<div class="blog-preview-buttons">
  <button onclick="history.back()" class="blog-preview-back">
    <i class="bx bx-arrow-back"></i> Back
  </button>
  <form action="{{url_for('blog_submit')}}" method="POST">
    <input type="hidden" name="post-title" value="{{post_title}}" />
    <input type="hidden" name="post-banner" value="{{post_banner}}" />
    <input type="hidden" name="post-content" value="{{post_content}}" />
    <input type="hidden" name="post-tags" value="{{post_tags}}" />
    <button type="submit" class="blog-preview-check">
      Submit <i class="bx bx-check"></i>
    </button>
  </form>
</div>
{% endif %}

<section class="blog-post-banner">
  <img src="{{ post_banner }}" alt="" />
</section>

<article class="blog-post">
  <h1 class="section-title">
    {{post_title}}
    <hr class="section-title-hr" />
  </h1>
  <h5 class="blog-post-details">
    Created {{post_days}} days, {{post_hours}} hours ago
  </h5>

  <div class="blog-post-content">{{post_content | safe}}</div>
  {% if not preview %}
  <div class="blog-post-tags">
    {% for tag in post_tags %}
    <h5 class="blog-post-tag">{{tag}}</h5>
    {% endfor %}
  </div>
  {% endif %}
</article>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    document.querySelectorAll("pre code").forEach((el) => {
      hljs.highlightElement(el);
    });
  });
</script>
{% endblock main %}
