{% extends 'base.html' %} {% block title %}Post{% endblock title %} {% block
main %}

<section class="blog-post">
  <div class="blog-preview-buttons">
    <button onclick="history.back()" class="blog-preview-back">
      <i class="bx bx-arrow-back"></i> Back
    </button>
    <button class="blog-preview-check">
      Submit <i class="bx bx-check"></i>
    </button>
  </div>
  <div class="blog-post-banner">
    <img src="{{ post_banner }}" alt="" />
  </div>
  <h1 class="section-title">
    {{post_title}}
    <hr class="section-title-hr" />
  </h1>

  <div class="blog-post-content">{{post_content | safe}}</div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    document.querySelectorAll("pre code").forEach((el) => {
      hljs.highlightElement(el);
    });
  });
</script>
{% endblock main %}
