{% extends 'base.html' %} {% block title %}Blog{% endblock title %} {% block
main %}
<section class="blog">
    <svg class="blog-background page-background" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1400" height="600" preserveAspectRatio="none" viewBox="0 0 1400 600">
        <g mask="url(&quot;#SvgjsMask8440&quot;)" fill="none">
            <rect width="274.56" height="274.56" clip-path="url(&quot;#SvgjsClipPath8441&quot;)" x="387.88" y="183.43" fill="url(#SvgjsPattern8442)" transform="rotate(143.46, 525.16, 320.71)"></rect>
            <rect width="330.28" height="330.28" clip-path="url(&quot;#SvgjsClipPath8443&quot;)" x="-66.13" y="201.22" fill="url(#SvgjsPattern8444)" transform="rotate(120.19, 99.01, 366.36)"></rect>
            <rect width="312.96" height="312.96" clip-path="url(&quot;#SvgjsClipPath8445&quot;)" x="549.08" y="400.11" fill="url(#SvgjsPattern8446)" transform="rotate(153.57, 705.56, 556.59)"></rect>
            <rect width="60" height="60" clip-path="url(&quot;#SvgjsClipPath8447&quot;)" x="1172.93" y="374.78" fill="url(#SvgjsPattern8448)" transform="rotate(84.25, 1202.93, 404.78)"></rect>
            <rect width="120.6" height="120.6" clip-path="url(&quot;#SvgjsClipPath8449&quot;)" x="662.99" y="439.69" fill="url(#SvgjsPattern8450)" transform="rotate(214.51, 723.29, 499.99)"></rect>
            <rect width="144" height="144" clip-path="url(&quot;#SvgjsClipPath8451&quot;)" x="258.52" y="298.49" fill="url(#SvgjsPattern8452)" transform="rotate(20.2, 330.52, 370.49)"></rect>
            <rect width="240" height="240" clip-path="url(&quot;#SvgjsClipPath8453&quot;)" x="750.09" y="306.59" fill="url(#SvgjsPattern8454)" transform="rotate(177.22, 870.09, 426.59)"></rect>
            <rect width="348" height="348" clip-path="url(&quot;#SvgjsClipPath8455&quot;)" x="423.44" y="-120.89" fill="url(#SvgjsPattern8456)" transform="rotate(207.78, 597.44, 53.11)"></rect>
            <path d="M982.76 110.06a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM989.91 124.37a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM997.05 138.69a5.6 5.6 0 1 0 5.01 10.02 5.6 5.6 0 1 0-5.01-10.02zM1004.2 153a5.6 5.6 0 1 0 5 10.03 5.6 5.6 0 1 0-5-10.03zM954.15 88.58a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM961.3 102.89a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM968.45 117.21a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM975.59 131.52a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM925.54 67.09a5.6 5.6 0 1 0 5.01 10.02 5.6 5.6 0 1 0-5.01-10.02zM932.69 81.41a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM939.84 95.72a5.6 5.6 0 1 0 5 10.02 5.6 5.6 0 1 0-5-10.02zM946.98 110.04a5.6 5.6 0 1 0 5.01 10.02 5.6 5.6 0 1 0-5.01-10.02z" stroke="rgba(255, 255, 255, 1)" stroke-width="1.26" stroke-dasharray="4, 4"></path>
            <rect width="108.4" height="108.4" clip-path="url(&quot;#SvgjsClipPath8457&quot;)" x="969.83" y="-20.76" fill="url(#SvgjsPattern8458)" transform="rotate(28.25, 1024.03, 33.44)"></rect>
            <rect width="300" height="300" clip-path="url(&quot;#SvgjsClipPath8459&quot;)" x="611.54" y="66.67" fill="url(#SvgjsPattern8460)" transform="rotate(333.78, 761.54, 216.67)"></rect>
        </g>
        <defs>
            <mask id="SvgjsMask8440">
                <rect width="1400" height="600" fill="#ffffff"></rect>
            </mask>
            <pattern x="0" y="0" width="12.48" height="12.48" patternUnits="userSpaceOnUse" id="SvgjsPattern8442">
                <path d="M0 12.48L6.24 0L12.48 12.48" stroke="rgba(255, 255, 255, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8441">
                <circle r="68.64" cx="525.16" cy="320.71"></circle>
            </clipPath>
            <pattern x="0" y="0" width="7.18" height="7.18" patternUnits="userSpaceOnUse" id="SvgjsPattern8444">
                <path d="M0 7.18L3.59 0L7.18 7.18" stroke="rgba(46, 42, 46, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8443">
                <circle r="82.57" cx="99.01" cy="366.36"></circle>
            </clipPath>
            <pattern x="0" y="0" width="9.78" height="9.78" patternUnits="userSpaceOnUse" id="SvgjsPattern8446">
                <path d="M0 9.78L4.89 0L9.78 9.78" stroke="rgba(46, 42, 46, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8445">
                <circle r="78.24" cx="705.56" cy="556.59"></circle>
            </clipPath>
            <pattern x="0" y="0" width="60" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8448">
                <rect width="60" height="3" x="0" y="0" fill="rgba(46, 42, 46, 1)"></rect>
                <rect width="60" height="3" x="0" y="3" fill="rgba(0, 0, 0, 0)"></rect>
            </pattern>
            <clipPath id="SvgjsClipPath8447">
                <circle r="15" cx="1202.93" cy="404.78"></circle>
            </clipPath>
            <pattern x="0" y="0" width="6.7" height="6.7" patternUnits="userSpaceOnUse" id="SvgjsPattern8450">
                <path d="M3.35 1L3.35 5.7M1 3.35L5.7 3.35" stroke="rgba(255, 255, 255, 1)" fill="none" stroke-width="2.13"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8449">
                <circle r="30.15" cx="723.29" cy="499.99"></circle>
            </clipPath>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8452">
                <path d="M0 6L3 0L6 6" stroke="rgba(255, 255, 255, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8451">
                <circle r="36" cx="330.52" cy="370.49"></circle>
            </clipPath>
            <pattern x="0" y="0" width="240" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8454">
                <rect width="240" height="3" x="0" y="0" fill="rgba(255, 255, 255, 1)"></rect>
                <rect width="240" height="3" x="0" y="3" fill="rgba(0, 0, 0, 0)"></rect>
            </pattern>
            <clipPath id="SvgjsClipPath8453">
                <circle r="60" cx="870.09" cy="426.59"></circle>
            </clipPath>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8456">
                <path d="M0 6L3 0L6 6" stroke="rgba(255, 255, 255, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8455">
                <circle r="87" cx="597.44" cy="53.11"></circle>
            </clipPath>
            <pattern x="0" y="0" width="10.84" height="10.84" patternUnits="userSpaceOnUse" id="SvgjsPattern8458">
                <path d="M0 10.84L5.42 0L10.84 10.84" stroke="rgba(46, 42, 46, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8457">
                <circle r="27.1" cx="1024.03" cy="33.44"></circle>
            </clipPath>
            <pattern x="0" y="0" width="300" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8460">
                <rect width="300" height="3" x="0" y="0" fill="rgba(46, 42, 46, 1)"></rect>
                <rect width="300" height="3" x="0" y="3" fill="rgba(0, 0, 0, 0)"></rect>
            </pattern>
            <clipPath id="SvgjsClipPath8459">
                <circle r="75" cx="761.54" cy="216.67"></circle>
            </clipPath>
        </defs>
        <g mask="url(&quot;#SvgjsMask8237&quot;)" fill="none">
            <path d="M1479.3000000000002 552 L1403.24 465.95L1398.1124811112834 552.1325188887167z" stroke="rgba(120, 221, 232, 1)" stroke-width="2.37" stroke-dasharray="3, 3"></path>
            <path d="M1369.78 197.79000000000002 L1364.6399999999999 239.39L1385.2048422677221 236.5848422677221z" stroke="rgba(120, 221, 232, 1)" stroke-width="1.16" stroke-dasharray="4, 4"></path>
            <rect width="72" height="72" clip-path="url(&quot;#SvgjsClipPath8238&quot;)" x="270.73" y="485.16" fill="url(#SvgjsPattern8239)" transform="rotate(241.48, 306.73, 521.16)"></rect>
            <rect width="60" height="60" clip-path="url(&quot;#SvgjsClipPath8240&quot;)" x="225.25" y="-24.74" fill="url(#SvgjsPattern8241)" transform="rotate(87.02, 255.25, 5.26)"></rect>
            <circle r="50" cx="524.27" cy="580.46" stroke="rgba(120, 221, 232, 1)" stroke-width="1.88" stroke-dasharray="3, 3"></circle>
            <rect width="197.6" height="197.6" clip-path="url(&quot;#SvgjsClipPath8242&quot;)" x="672.02" y="167.71" fill="url(#SvgjsPattern8243)" transform="rotate(192.39, 770.82, 266.51)"></rect>
            <path d="M311.16 389.62a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM300.23 401.31a5.6 5.6 0 1 0-7.66 8.17 5.6 5.6 0 1 0 7.66-8.17zM289.29 412.99a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM278.36 424.67a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM321.34 355.33a5.6 5.6 0 1 0-7.65 8.17 5.6 5.6 0 1 0 7.65-8.17zM310.41 367.01a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM299.48 378.69a5.6 5.6 0 1 0-7.66 8.18 5.6 5.6 0 1 0 7.66-8.18zM288.54 390.37a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM331.52 321.03a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM320.59 332.71a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM309.66 344.39a5.6 5.6 0 1 0-7.65 8.18 5.6 5.6 0 1 0 7.65-8.18zM298.73 356.08a5.6 5.6 0 1 0-7.66 8.17 5.6 5.6 0 1 0 7.66-8.17z" fill="rgba(120, 221, 232, 1)"></path>
            <rect width="184.96" height="184.96" clip-path="url(&quot;#SvgjsClipPath8244&quot;)" x="882.55" y="2.42" fill="url(#SvgjsPattern8245)" transform="rotate(348.58, 975.03, 94.9)"></rect>
            <rect width="288" height="288" clip-path="url(&quot;#SvgjsClipPath8246&quot;)" x="1123.54" y="-98.1" fill="url(#SvgjsPattern8247)" transform="rotate(160.14, 1267.54, 45.9)"></rect>
            <path d="M319.19 552.21L321.5 564.8 309.72 569.83 312.04 582.42 300.26 587.45 302.57 600.04 290.8 605.07M312.14 548.42L314.45 561.02 302.67 566.04 304.99 578.64 293.21 583.66 295.53 596.26 283.75 601.28M305.09 544.64L307.41 557.23 295.63 562.26 297.94 574.85 286.16 579.88 288.48 592.47 276.7 597.5" stroke="rgba(120, 221, 232, 1)" stroke-width="1.46" stroke-dasharray="3, 3"></path>
            <path d="M1116.03 358.21L1109.64 347.11 1119.05 338.43 1112.65 327.34 1122.07 318.66 1115.67 307.57 1125.09 298.89" stroke="rgba(120, 221, 232, 1)" stroke-width="2.42" stroke-dasharray="2, 2"></path>
        </g>
        <defs>
            <mask id="SvgjsMask8237">
                <rect width="1400" height="600" fill="#ffffff"></rect>
            </mask>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8239">
                <path d="M0 6L3 0L6 6" stroke="rgba(120, 221, 232, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8238">
                <circle r="18" cx="306.73" cy="521.16"></circle>
            </clipPath>
            <pattern x="0" y="0" width="60" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8241">
                <rect width="60" height="3" x="0" y="0" fill="rgba(120, 221, 232, 1)"></rect>
                <rect width="60" height="3" x="0" y="3" fill="rgba(0, 0, 0, 0)"></rect>
            </pattern>
            <clipPath id="SvgjsClipPath8240">
                <circle r="15" cx="255.25" cy="5.26"></circle>
            </clipPath>
            <pattern x="0" y="0" width="197.6" height="7.6" patternUnits="userSpaceOnUse" id="SvgjsPattern8243">
                <rect width="197.6" height="3.8" x="0" y="0" fill="rgba(120, 221, 232, 1)"></rect>
                <rect width="197.6" height="3.8" x="0" y="3.8" fill="rgba(0, 0, 0, 0)"></rect>
            </pattern>
            <clipPath id="SvgjsClipPath8242">
                <circle r="49.4" cx="770.82" cy="266.51"></circle>
            </clipPath>
            <pattern x="0" y="0" width="11.56" height="11.56" patternUnits="userSpaceOnUse" id="SvgjsPattern8245">
                <path d="M5.78 1L5.78 10.56M1 5.78L10.56 5.78" stroke="rgba(120, 221, 232, 1)" fill="none" stroke-width="1.77"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8244">
                <circle r="46.24" cx="975.03" cy="94.9"></circle>
            </clipPath>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8247">
                <path d="M3 1L3 5M1 3L5 3" stroke="rgba(120, 221, 232, 1)" fill="none" stroke-width="1.25"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8246">
                <circle r="72" cx="1267.54" cy="45.9"></circle>
            </clipPath>
        </defs>
        <g mask="url(&quot;#SvgjsMask8295&quot;)" fill="none">
            <path d="M1191.44 138.61a5.6 5.6 0 1 0-11.2-0.18 5.6 5.6 0 1 0 11.2 0.18zM1175.44 138.35a5.6 5.6 0 1 0-11.19-0.18 5.6 5.6 0 1 0 11.19 0.18zM1159.45 138.09a5.6 5.6 0 1 0-11.2-0.18 5.6 5.6 0 1 0 11.2 0.18zM1143.45 137.83a5.6 5.6 0 1 0-11.2-0.18 5.6 5.6 0 1 0 11.2 0.18zM1223.7 123.12a5.6 5.6 0 1 0-11.2-0.18 5.6 5.6 0 1 0 11.2 0.18zM1207.7 122.86a5.6 5.6 0 1 0-11.2-0.18 5.6 5.6 0 1 0 11.2 0.18zM1191.7 122.61a5.6 5.6 0 1 0-11.2-0.18 5.6 5.6 0 1 0 11.2 0.18zM1175.7 122.35a5.6 5.6 0 1 0-11.2-0.18 5.6 5.6 0 1 0 11.2 0.18z" fill="rgba(255, 97, 136, 1)"></path>
            <path d="M579.78 187.78L566.99 187.17 564.77 174.56 551.98 173.95 549.77 161.33 536.98 160.72 534.77 148.11M585.07 181.78L572.28 181.17 570.06 168.56 557.27 167.95 555.06 155.33 542.27 154.72 540.05 142.11M590.36 175.78L577.57 175.17 575.35 162.55 562.56 161.94 560.35 149.33 547.56 148.72 545.34 136.11" stroke="rgba(255, 97, 136, 1)" stroke-width="2.88"></path>
            <path d="M467.24 298.67a5.6 5.6 0 1 0-4.73-10.15 5.6 5.6 0 1 0 4.73 10.15zM460.48 284.16a5.6 5.6 0 1 0-4.73-10.15 5.6 5.6 0 1 0 4.73 10.15zM453.72 269.66a5.6 5.6 0 1 0-4.74-10.15 5.6 5.6 0 1 0 4.74 10.15zM446.95 255.16a5.6 5.6 0 1 0-4.73-10.15 5.6 5.6 0 1 0 4.73 10.15zM495.27 320.91a5.6 5.6 0 1 0-4.74-10.15 5.6 5.6 0 1 0 4.74 10.15zM488.5 306.4a5.6 5.6 0 1 0-4.73-10.15 5.6 5.6 0 1 0 4.73 10.15zM481.74 291.9a5.6 5.6 0 1 0-4.73-10.15 5.6 5.6 0 1 0 4.73 10.15zM474.98 277.4a5.6 5.6 0 1 0-4.73-10.15 5.6 5.6 0 1 0 4.73 10.15z" fill="rgba(255, 97, 136, 1)"></path>
            <rect width="60" height="60" clip-path="url(&quot;#SvgjsClipPath8296&quot;)" x="143.32" y="304.45" fill="url(#SvgjsPattern8297)" transform="rotate(270.18, 173.32, 334.45)"></rect>
            <rect width="137" height="137" clip-path="url(&quot;#SvgjsClipPath8298&quot;)" x="486.71" y="162.2" fill="url(#SvgjsPattern8299)" transform="rotate(2.57, 555.21, 230.7)"></rect>
            <circle r="85.36273651391757" cx="995.58" cy="28.36" stroke="rgba(255, 97, 136, 1)" stroke-width="2.68" stroke-dasharray="4, 4"></circle>
            <path d="M585.4 516.4 L635.35 408.85999999999996L653.3860662448324 505.64106624483236z" stroke="rgba(255, 97, 136, 1)" stroke-width="1" stroke-dasharray="3, 2"></path>
            <circle r="77.97097862655527" cx="1297.7" cy="63.83" stroke="rgba(255, 97, 136, 1)" stroke-width="1.5" stroke-dasharray="3, 3"></circle>
            <rect width="84" height="84" clip-path="url(&quot;#SvgjsClipPath8300&quot;)" x="302.14" y="327.1" fill="url(#SvgjsPattern8301)" transform="rotate(27.55, 344.14, 369.1)"></rect>
            <rect width="289.43999999999994" height="289.43999999999994" clip-path="url(&quot;#SvgjsClipPath8302&quot;)" x="103.44" y="124.23" fill="url(#SvgjsPattern8303)" transform="rotate(111.13, 248.16, 268.95)"></rect>
            <path d="M436.55 35.44L444.38 45.57 436.21 55.43 444.03 65.57 435.86 75.43 443.69 85.57 435.51 95.43M428.55 35.3L436.38 45.44 428.21 55.3 436.03 65.43 427.86 75.29 435.69 85.43 427.52 95.29" stroke="rgba(255, 97, 136, 1)" stroke-width="2.5" stroke-dasharray="3, 3"></path>
        </g>
        <defs>
            <mask id="SvgjsMask8295">
                <rect width="1400" height="600" fill="#ffffff"></rect>
            </mask>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8297">
                <path d="M3 1L3 5M1 3L5 3" stroke="rgba(255, 97, 136, 1)" fill="none" stroke-width="1.86"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8296">
                <circle r="15" cx="173.32" cy="334.45"></circle>
            </clipPath>
            <pattern x="0" y="0" width="137" height="13.7" patternUnits="userSpaceOnUse" id="SvgjsPattern8299">
                <rect width="137" height="6.85" x="0" y="0" fill="rgba(255, 97, 136, 1)"></rect>
                <rect width="137" height="6.85" x="0" y="6.85" fill="rgba(0, 0, 0, 0)"></rect>
            </pattern>
            <clipPath id="SvgjsClipPath8298">
                <circle r="34.25" cx="555.21" cy="230.7"></circle>
            </clipPath>
            <pattern x="0" y="0" width="6" height="6" patternUnits="userSpaceOnUse" id="SvgjsPattern8301">
                <path d="M0 6L3 0L6 6" stroke="rgba(255, 97, 136, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8300">
                <circle r="21" cx="344.14" cy="369.1"></circle>
            </clipPath>
            <pattern x="0" y="0" width="8.04" height="8.04" patternUnits="userSpaceOnUse" id="SvgjsPattern8303">
                <path d="M0 8.04L4.02 0L8.04 8.04" stroke="rgba(255, 97, 136, 1)" fill="none"></path>
            </pattern>
            <clipPath id="SvgjsClipPath8302">
                <circle r="72.35999999999999" cx="248.16" cy="268.95"></circle>
            </clipPath>
        </defs>
    </svg>
    

  {% for post in posts %}
  <a href="{{url_for("blog_post", post_id=post[5])}}" class="blog-card">
    <div
      style="
        background-image: url('{{ post[1] }}');
      "
      class="blog-card-image"
    ></div>
    <div class="blog-card-text">
      <p class="blog-card-details">
        {{post[4][0]}} days, {{post[4][1]}} hours ago
      </p>
      <h1 class="blog-card-title">{{post[0]}}</h1>
      <p class="blog-card-preview">{{post[2] | safe}}</p>
    </div>
    <div class="blog-card-tags">
      {% for tag in post[3] %}
      <h5 href="#" class="blog-card-tag">{{tag}}</h5>
      {% endfor %}
    </div>
  </a>
  {% endfor %}
</section>

{% endblock main %}
