<h4><i class="bx bx-copyright"></i> tarini bengani</h4>
<div class="footer-social">
  <a
    href="https://www.linkedin.com/in/tarini-bengani-7967611a9/"
    target="_blank"
    class="footer-social-link"
  >
    <i class="bx bxl-linkedin footer-social-icon"></i>
  </a>
  <a
    href="https://www.instagram.com/tarinibengani/"
    target="_blank"
    class="footer-social-link"
  >
    <i class="bx bxl-instagram footer-social-icon"></i>
  </a>
  <a
    href="https://www.youtube.com/channel/UCnOBXpjJrLxS8v9GishNKnw"
    target="_blank"
    class="footer-social-link"
  >
    <i class="bx bxl-youtube footer-social-icon"></i>
  </a>
  <a href="{{url_for('contact')}}" target="_blank" class="footer-social-link">
    <i class="bx bx-mail-send footer-social-icon"></i>
  </a>
</div>
