<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarini Bengani</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar"></nav>
    </header>

    <main>
      <h1>Hello World</h1>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum reiciendis
        impedit, hic aspernatur deserunt laborum magni quasi repellendus
        provident enim ratione sapiente rerum eaque voluptate possimus
        inventore, veritatis aliquid nobis?
      </p>
    </main>
  </body>
</html>
