{% extends 'base.html' %} {% block title %}Home{% endblock title
%} {% block main %}
<section class="home-banner">
  <div class="home-banner-content">
    <div class="home-social">
      <a href="https://www.linkedin.com/in/tarini-bengani-7967611a9/" target="_blank" class="home-social-icon">
        <i class="bx bxl-linkedin bx-tada"></i><span class="tooltip-right">Linkedin</span>
      </a>
      
      <a href="https://www.instagram.com/tarinibengani/" target="_blank" class="home-social-icon">
        <i class="bx bxl-instagram bx-tada"></i><span class="tooltip-right">Instagram</span>
      </a>
      <a href="https://open.spotify.com/user/tarinibengani?si=dk0cZSHZRbiNlisOcz35Lg" target="_blank" class="home-social-icon">
        <i class="bx bxl-spotify bx-tada"></i><span class="tooltip-right">Spotify</span>
      </a>
    </div>

    <div class="home-img">
      <svg
        viewBox="0 0 200 187"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="home-blob"
      >
        <mask id="mask0" mask-type="alpha">
          <path
            d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
          />
        </mask>
        <g mask="url(#mask0)">
          <path
            d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
          />
          <image
            class="home-blob-img"
            href="../static/imgs/home-banner-img.png"
            x="-5"
            y="15"
          />

          <div class="eyes">
            <div class="eye"><div class="ball"></div></div>
            <div class="eye"><div class="ball"></div></div>
          </div>
        </g>
      </svg>
    </div>

    <div class="home-banner-data">
      <h1 class="home-title">Hi, I'm <strong>Tarini</strong>.</h1>
      <h3 class="home-subtitle">Welcome to my website!</h3>
      <ul class="home-quick-links">
        <li class="home-quick-link">
          <a href="../static/imgs/Tarini-CV.pdf" download class="button"
            >Download CV <i class="button-icon bx bx-download bx-tada"></i
          ></a>
        </li>
        <li class="home-quick-link">
          <a href="{{ url_for("contact") }}" class="button">Contact Me <i class="bx-tada button-icon bx bx-message-rounded"></i></a>
        </li>
      </ul>
    </div>

    
  </div>
  <div class="home-banner-scroll">
    <a href="#about-me" class="home-banner-scroll-button">
      <i class="bx bx-mouse home-scroll-mouse"></i>
      <span class="home-scroll-name">Scroll Down</span>
      <i class="bx bx-down-arrow-alt home-scroll-arrow"></i>
    </a>
  </div>
</section>

<section id="about-me" class="home-about">
  <h1 class="section-title">About Me <hr class="section-title-hr"></h1>
  <p class="section-paragraph">
    Hey! I'm <strong class="section-highlight">Tarini Bengani</strong>, a rising junior originally from India, but currently living in the Little Red Dot (AKA Singapore!). 
  </p>
  <p class="section-paragraph">I am passionate about <strong class="section-highlight">computer science, entrepeneurship and film-making</strong>. I like to use my skills to do <strong class="section-highlight">social good</strong> and help people in my community.</p>
  <p class="section-paragraph">
    Let me introduce myself through a game of <strong class="section-highlight">2 Truths 1 Lie</strong>. Click the button you think is a lie:
  </p>
  <div class="home-quiz">
      <button id="homeQuiz1" class="home-quiz-option">I auditioned for Voice Kids Singapore. </button>
      <button id="homeQuiz2" class="home-quiz-option">I have driven a bus. </button>
      <button id="homeQuiz3" class="home-quiz-option">I have eaten a caterpillar. </button>
  </div>
  <p id="homeQuizAnswer" class="section-paragraph home-quiz-answer section-highlight">Why are you looking here >:(</p>
  <p id="homeQuizDescription" class="section-paragraph home-quiz-description">Although I like singing <i class='bx bxs-music bx-tada' ></i>, I am not good enough to audition for the Voice Kids <i class='bx bx-wink-tongue bx-tada'></i>. I have driven a bus <i class='bx bx-bus bx-tada' ></i> in India, because my school bus driver let me steer! I have also eaten a caterpillar before, on a trip to China (it was delicious)!</p>
</section>

<section class="home-quote-section">
  <svg class="home-wave" viewBox="0 0 900 100" width="900" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 38L129 44L257 27L386 25L514 18L643 24L771 31L900 23L900 101L771 101L643 101L514 101L386 101L257 101L129 101L0 101Z" fill="#78dde8"></path><path d="M0 45L129 48L257 31L386 50L514 32L643 36L771 55L900 54L900 101L771 101L643 101L514 101L386 101L257 101L129 101L0 101Z" fill="#68caff"></path><path d="M0 47L129 61L257 64L386 67L514 65L643 47L771 47L900 65L900 101L771 101L643 101L514 101L386 101L257 101L129 101L0 101Z" fill="#9eadff"></path><path d="M0 66L129 70L257 75L386 77L514 79L643 66L771 63L900 61L900 101L771 101L643 101L514 101L386 101L257 101L129 101L0 101Z" fill="#e085d8"></path><path d="M0 87L129 83L257 88L386 82L514 76L643 89L771 75L900 74L900 101L771 101L643 101L514 101L386 101L257 101L129 101L0 101Z" fill="#ff6188"></path></svg>
    
    <blockquote class="home-quote-container">
      <h3 class="home-quote-quotation"><i class='bx bxs-quote-alt-left bx-tada' ></i></h3>
      <p class="home-quote">If you can dream it you can do it.</p>

      <cite class="home-quote-author">Walt Disney</cite>
    </blockquote>
  
    <svg class="home-wave home-wave-last" viewBox="0 0 900 100" width="900" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 65L129 73L257 73L386 50L514 65L643 60L771 53L900 79L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z" fill="#78dde8"></path><path d="M0 51L129 52L257 48L386 52L514 43L643 52L771 57L900 56L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z" fill="#68caff"></path><path d="M0 29L129 46L257 51L386 39L514 47L643 47L771 48L900 51L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z" fill="#9eadff"></path><path d="M0 20L129 27L257 32L386 35L514 38L643 30L771 29L900 29L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z" fill="#e085d8"></path><path d="M0 10L129 23L257 22L386 22L514 13L643 17L771 19L900 9L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z" fill="#ff6188"></path></svg>
</section>

<section class="home-timeline">
  <h1 class="section-title">My Journey <hr class="section-title-hr"></h1>
  <div class="home-timeline-timeline">
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h2>2005</h2>
        <p>I was born in Mumbai, India on January 6th, though I don't really remember much about that day. </p>
      </div>
    </div>
    <div class="timeline-container timeline-right">
      <div class="timeline-content">
        <h2>2006</h2>
        <p>My brother and best friend, Tanish was born. I had a really fun childhood with him, playing games and performing skits for our family together. </p>
        <div class="timeline-img1"></div>
      </div>
    </div>
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h2>2009</h2>
        <p>I started attending school at JB Petit.</p>
      </div>
    </div>
    <div class="timeline-container timeline-right">
      <div class="timeline-content">
        <h2>2012</h2>
        <p>I moved to Singapore and enrolled in Overseas Family School. <i class='bx bxs-plane-take-off' ></i></p>
      </div>
    </div>
    <div class="timeline-container timeline-left">
      <div class="timeline-content">
        <h2>2016</h2>
        <p>I moved to Tanglin Trust School in Singapore. </p>
      </div>
    </div>
  </div>
  </div>
  
</section>

{% endblock main %}
