{% extends 'base.html' %} {% block title %}Tarini Talks - Home{% endblock title
%} {% block main %}
<section class="home-banner">
  <div class="home-banner-content">
    <div class="home-social">
      <a href="https://www.linkedin.com/in/tarini-bengani-7967611a9/" target="_blank" class="home-social-icon">
        <i class="bi bi-linkedin"></i><span class="home-social-tooltip">Linkedin</span>
      </a>
      <a href="https://www.instagram.com/tarinibengani/" target="_blank" class="home-social-icon">
        <i class="bi bi-instagram"></i><span class="home-social-tooltip">Instagram</span>
      </a>
      <a href="https://www.youtube.com/channel/UCnOBXpjJrLxS8v9GishNKnw" target="_blank" class="home-social-icon">
        <i class="bi bi-youtube"></i><span class="home-social-tooltip">Youtube</span>
      </a>
    </div>

    <div class="home-img">
      <svg
        viewBox="0 0 200 187"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="home-blob"
      >
        <mask id="mask0" mask-type="alpha">
          <path
            d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547 
            130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775 
            97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666 
            0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
          />
        </mask>
        <g mask="url(#mask0)">
          <path
            d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 
            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 
            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 
            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"
          />
          <image
            class="home-blob-img"
            href="../static/imgs/home-banner-img.png"
            x="-5"
            y="15"
          />

          <div class="eyes">
            <div class="eye"><div class="ball"></div></div>
            <div class="eye"><div class="ball"></div></div>
          </div>
        </g>
      </svg>
    </div>

    <div class="home-banner-data">
      <h1 class="home-title">Hi, I'm <strong>Tarini</strong>.</h1>
      <h3 class="home-subtitle">Welcome to my TED Talk!</h3>
      <ul class="home-quick-links">
        <li class="home-quick-link">
          <a href="../static/imgs/Tarini-CV.pdf" download class="button"
            >Download CV <i class="button-icon bi bi-download"></i
          ></a>
        </li>
        <li class="home-quick-link">
          <a href="{{ url_for("contact") }}" class="button">Contact Me <i class="button-icon bi bi-chat"></i></a>
        </li>
      </ul>
    </div>

    
  </div>
  <div class="home-banner-scroll">
    <a href="#about-me" class="home-banner-scroll-button">
      <i class="bi bi-mouse home-scroll-mouse"></i>
      <span class="home-scroll-name">Scroll Down</span>
      <i class="bi bi-arrow-down home-scroll-arrow"></i>
    </a>
  </div>
</section>

<section class="home-about">
  <h1 class="section-title" id="about-me">About Me <hr class="section-title-hr"></h1>
  <p class="section-paragraph">
    Hey! I'm <strong class="section-highlight">Tarini Bengani</strong>, a rising junior originally from India, but currently living in the Little Red Dot (AKA Singapore!). 
  </p>
  <p class="section-paragraph">
    Let me introduce myself through a game of <strong class="section-highlight">2 Truths 1 Lie</strong>. Click the button you think is a lie:
  </p>
  <div class="home-quiz">
      <button id="homeQuiz1" class="home-quiz-option">I auditioned for Voice Kids Singapore. </button>
      <button id="homeQuiz2" class="home-quiz-option">I have driven a bus. </button>
      <button id="homeQuiz3" class="home-quiz-option">I have eaten a caterpillar. </button>
  </div>
  <p id="homeQuizAnswer" class="section-paragraph home-quiz-answer section-highlight">Why are you looking here >:(</p>
  <p id="homeQuizDescription" class="section-paragraph home-quiz-description">Why are you looking here >:(</p>
</section>

{% endblock main %}
