{% extends 'base.html' %} {% block title %}Skills{% endblock title %} {% block
main %}
<section class="skills-quote-section">
  <blockquote class="skills-quote-container">
    <p class="skills-quote">A motivated student with a strong work ethic</p>
  </blockquote>

  <svg
    class="skills-wave skills-wave-last"
    viewBox="0 0 900 100"
    width="900"
    height="100"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
  >
    <path
      d="M0 65L129 73L257 73L386 50L514 65L643 60L771 53L900 79L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z"
      fill="#78dde8"
    ></path>
    <path
      d="M0 51L129 52L257 48L386 52L514 43L643 52L771 57L900 56L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z"
      fill="#68caff"
    ></path>
    <path
      d="M0 29L129 46L257 51L386 39L514 47L643 47L771 48L900 51L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z"
      fill="#9eadff"
    ></path>
    <path
      d="M0 20L129 27L257 32L386 35L514 38L643 30L771 29L900 29L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z"
      fill="#e085d8"
    ></path>
    <path
      d="M0 10L129 23L257 22L386 22L514 13L643 17L771 19L900 9L900 0L771 0L643 0L514 0L386 0L257 0L129 0L0 0Z"
      fill="#ff6188"
    ></path>
  </svg>
</section>
<section class="skills-cv-section">
  <h2>To get a full overview of my skills:</h2>
  <a href="../static/imgs/Tarini-CV.pdf" download class="button"
    >Download My CV <i class="button-icon bx bx-download bx-tada"></i
  ></a>
</section>
<section class="skills-achievements">
  <h1 class="section-title">
    Achievements/Experience
    <hr class="section-title-hr" />
  </h1>
  <div class="skills-card-container skills-achievements-card-container">
    <div class="skills-card">
      <p>
        Citi-YMCA Youth For Causes:
        <strong
          >Became a social entrepreneur by raising $27,000+ for Lions
          Befrienders Service Association</strong
        >
        during COVID-19 by organizing an online concert and digital interactive
        gallery.
      </p>
      <span class="skills-card-date">2021</span>
      <span class="skills-card-tag">Social Entrepeneurship</span>
    </div>
    <div class="skills-card">
      <p>
        World Scholars Cup Global Round and Tournament of Champions (TOC):
        <strong>Stood 35th in 2000+ participants</strong> at an academic
        competition (debating, writing and quiz) in Beijing, China. Attended
        final TOC round at Yale University and
        <strong>stood 128th in 1800+ students.</strong>
      </p>
      <span class="skills-card-date">2019</span>
      <span class="skills-card-tag">Competition</span>
    </div>
    <div class="skills-card">
      <p>
        Citi-YMCA Youth For Causes:
        <strong
          >Became a social entrepreneur by raising $9,000+ for Children’s Cancer
          Foundation</strong
        >
        during COVID-19 by organizing an online concert and selling merchandise.
      </p>
      <span class="skills-card-date">2020</span>
      <span class="skills-card-tag">Social Entrepeneurship</span>
    </div>
    <div class="skills-card">
      <p>
        <strong>Developed an app</strong> in Thunkable, for Technovation
        Challenge, to help children with food allergies.
      </p>
      <span class="skills-card-date">2021</span>
      <span class="skills-card-tag">App Development</span>
    </div>
    <div class="skills-card">
      <p>
        <strong>Best Student of the Year</strong>: Awarded for outstanding
        academic attainment among 200 students in TTS.
      </p>
      <span class="skills-card-date">2017</span>
      <span class="skills-card-tag">Award</span>
    </div>
    <div class="skills-card">
      <p>
        Duke of Edinburgh’s International Award: Received Bronze Award for
        effort in
        <strong
          >fundraising, public speaking, adventure trip, and dance over 6
          months.</strong
        >
      </p>
      <span class="skills-card-date">2021</span>
      <span class="skills-card-tag">Award</span>
    </div>
    <div class="skills-card">
      <p>
        Pascal Math Contest:
        <strong>Certificate of Distinction (top 25%)</strong> by University of
        Waterloo.
      </p>
      <span class="skills-card-date">2020</span>
      <span class="skills-card-tag">Math Award</span>
    </div>
    <div class="skills-card">
      <p>
        Senior Mathematical Challenge: Awarded Bronze Certificate by United
        Kingdom Mathematics Trust.
      </p>
      <span class="skills-card-date">2020</span>
      <span class="skills-card-tag">Math Award</span>
    </div>
    <div class="skills-card">
      <p>
        Vasantham’s Amarkala Deepavali: Performed Indian classical dance on
        <strong>national TV.</strong>
      </p>
      <span class="skills-card-date">2019 & 2020</span>
      <span class="skills-card-tag">Dance</span>
    </div>
    <div class="skills-card">
      <p>
        National Art Gallery: Showcased artwork at a collaboration between
        National Art Gallery, Singapore and TTS.
      </p>
      <span class="skills-card-date">2019</span>
      <span class="skills-card-tag">Art</span>
    </div>
    <div class="skills-card">
      <p>
        Volunteered at a Children’s Home: Made artwork for children’s classrooms
        in Uttarakhand, India.
      </p>
      <span class="skills-card-date">2018</span>
      <span class="skills-card-tag">Social Good</span>
    </div>
    <div class="skills-card">
      <p>
        WTA Finals Singapore Ball Kid Squad: Served as a ball kid at the Women’s
        Tennis Association Finals.
      </p>
      <span class="skills-card-date">2017</span>
      <span class="skills-card-tag">Tennis</span>
    </div>
  </div>
</section>
<section class="skills-knowledge">
  <h1 class="section-title">
    Technical Knowledge
    <hr class="section-title-hr" />
  </h1>
  <div class="skills-card-container skills-knowledge-card-container">
    <div class="skills-card">
      <div class="skills-card-image-container">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.wp.com%2Fwww.dontpanic.net.au%2FDONTPANICWEB%2Fwp-content%2Fuploads%2F2016%2F04%2F2000px-Scratchcat.svg_.png%3Ffit%3D2000%252C2160%26ssl%3D1&f=1&nofb=1"
          alt=""
        />
      </div>
      <h3>Scratch Programming</h3>
    </div>
    <div class="skills-card">
      <div class="skills-card-image-container">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.clintonfitch.com%2Fwp-content%2Fuploads%2F2018%2F02%2FGoogle-Drive-Icon.png&f=1&nofb=1"
          alt=""
        />
      </div>
      <h3>Google Drive: Sheets, Slides, Docs</h3>
    </div>
    <div class="skills-card">
      <div class="skills-card-image-container">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmiro.medium.com%2Fmax%2F1000%2F1*NmDnPUi20xj1dktFxJEBIA.png&f=1&nofb=1"
          alt=""
        />
      </div>
      <h3>Thunkable App Developement</h3>
    </div>
    <div class="skills-card">
      <div class="skills-card-image-container">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.icons101.com%2Ficon_png%2Fsize_512%2Fid_70453%2FiWork.png&f=1&nofb=1"
          alt=""
        />
      </div>
      <h3>iWork: Pages, Keynote, Numbers</h3>
    </div>
    <div class="skills-card">
      <div class="skills-card-image-container">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fbookcreator.com%2Fwp-content%2Fuploads%2F2016%2F02%2Fimovie-icon.png&f=1&nofb=1"
          alt=""
        />
      </div>
      <h3>iMovie Video Editing</h3>
    </div>
    <div class="skills-card">
      <div class="skills-card-image-container">
        <img
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvectorified.com%2Fimages%2Fmicrosoft-office-icon-png-36.png&f=1&nofb=1"
          alt=""
        />
      </div>
      <h3>MS Office: Word, Excel, PowerPoint</h3>
    </div>
  </div>
</section>
<section class="skills-extracurriculars">
  <h1 class="section-title">
    Extracurriculars
    <hr class="section-title-hr" />
  </h1>
  <div class="skills-card-container skills-extracurriculars-card-container">
    <div class="skills-card">
      <h3>Tutoring</h3>
      <p>
        Teaching kids from disadvantaged backgrounds English at Ulu Pandan
        Star’s Reading Odyssey program
      </p>
      <span class="skills-card-date">Jan 2021 - Present</span>
    </div>
    <div class="skills-card">
      <h3>Chess</h3>
      <p>
        Regularly won prizes in chess tournaments and have a FIDE rating (1141).
      </p>
      <span class="skills-card-date">2008 - Present</span>
    </div>
    <div class="skills-card">
      <h3>Sports</h3>
      <p>
        Tennis, basketball, netball, and touch rugby enthusiast. Plays tennis
        regularly and is part of school netball team.
      </p>
      <span class="skills-card-date">---</span>
    </div>
    <div class="skills-card">
      <h3>Dance</h3>
      <p>
        Learning Bharatanatyam (Indian classical dance) for 8 years and have
        given regular public performances.
      </p>
      <span class="skills-card-date">2013 - Present</span>
    </div>
  </div>
</section>

{% endblock main %}
